In [1]:
import numpy as np 
import pandas as pd

In [2]:
df_train = pd.read_csv('../input/lambda-hospital/train_data.csv')
df_test = pd.read_csv('../input/lambda-hospital/test_data.csv')

In [3]:
df_train.head()

,case_id,Hospital_code,Hospital_type_code,City_Code_Hospital,Hospital_region_code,Available Extra Rooms in Hospital,Department,Ward_Type,Ward_Facility_Code,Bed Grade,patientid,City_Code_Patient,Type of Admission,Severity of Illness,Visitors with Patient,Age,Admission_Deposit,Stay
0,1,8,c,3,Z,3,radiotherapy,R,F,2.0,31397,7.0,Emergency,Extreme,2,51-60,4911.0,0-10
1,2,2,c,5,Z,2,radiotherapy,S,F,2.0,31397,7.0,Trauma,Extreme,2,51-60,5954.0,41-50
2,3,10,e,1,X,2,anesthesia,S,E,2.0,31397,7.0,Trauma,Extreme,2,51-60,4745.0,31-40
3,4,26,b,2,Y,2,radiotherapy,R,D,2.0,31397,7.0,Trauma,Extreme,2,51-60,7272.0,41-50
4,5,26,b,2,Y,2,radiotherapy,S,D,2.0,31397,7.0,Trauma,Extreme,2,51-60,5558.0,41-50

In [4]:
df_train.describe()

,case_id,Hospital_code,City_Code_Hospital,Available Extra Rooms in Hospital,Bed Grade,patientid,City_Code_Patient,Visitors with Patient,Admission_Deposit
count,318438.000000,318438.000000,318438.000000,318438.000000,318325.000000,318438.000000,313906.000000,318438.000000,318438.000000
mean,159219.500000,18.318841,4.771717,3.197627,2.625807,65747.579472,7.251859,3.284099,4880.749392
std,91925.276848,8.633755,3.102535,1.168171,0.873146,37979.936440,4.745266,1.764061,1086.776254
min,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,0.000000,1800.000000
25%,79610.250000,11.000000,2.000000,2.000000,2.000000,32847.000000,4.000000,2.000000,4186.000000
50%,159219.500000,19.000000,5.000000,3.000000,3.000000,65724.500000,8.000000,3.000000,4741.000000
75%,238828.750000,26.000000,7.000000,4.000000,3.000000,98470.000000,8.000000,4.000000,5409.000000
max,318438.000000,32.000000,13.000000,24.000000,4.000000,131624.000000,38.000000,32.000000,11008.000000

In [5]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 318438 entries, 0 to 318437
Data columns (total 18 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   case_id                            318438 non-null  int64
 1   Hospital_code                      318438 non-null  int64
 2   Hospital_type_code                 318438 non-null  object
 3   City_Code_Hospital                 318438 non-null  int64
 4   Hospital_region_code               318438 non-null  object
 5   Available Extra Rooms in Hospital  318438 non-null  int64
 6   Department                         318438 non-null  object
 7   Ward_Type                          318438 non-null  object
 8   Ward_Facility_Code                 318438 non-null  object
 9   Bed Grade                          318325 non-null  float64
 10  patientid                          318438 non-null  int64
 11  City_Code_Patient                  313906 non-null  float64
 12  Type of Admission                  318438 non-null  object
 13  Severity of Illness                318438 non-null  object
 14  Visitors with Patient              318438 non-null  int64
 15  Age                                318438 non-null  object
 16  Admission_Deposit                  318438 non-null  float64
 17  Stay                               318438 non-null  object
dtypes: float64(3), int64(6), object(9)
memory usage: 43.7+ MB

In [6]:
print(df_train.shape)
print(df_test.shape)

(318438, 18)
(137057, 17)

In [7]:
print(df_train.isnull().sum())

case_id                                 0
Hospital_code                           0
Hospital_type_code                      0
City_Code_Hospital                      0
Hospital_region_code                    0
Available Extra Rooms in Hospital       0
Department                              0
Ward_Type                               0
Ward_Facility_Code                      0
Bed Grade                             113
patientid                               0
City_Code_Patient                    4532
Type of Admission                       0
Severity of Illness                     0
Visitors with Patient                   0
Age                                     0
Admission_Deposit                       0
Stay                                    0
dtype: int64

In [8]:
print(df_test.isnull().sum())

case_id                                 0
Hospital_code                           0
Hospital_type_code                      0
City_Code_Hospital                      0
Hospital_region_code                    0
Available Extra Rooms in Hospital       0
Department                              0
Ward_Type                               0
Ward_Facility_Code                      0
Bed Grade                              35
patientid                               0
City_Code_Patient                    2157
Type of Admission                       0
Severity of Illness                     0
Visitors with Patient                   0
Age                                     0
Admission_Deposit                       0
dtype: int64

In [9]:
print(df_train['Bed Grade'].value_counts())

2.0    123671
3.0    110583
4.0     57566
1.0     26505
Name: Bed Grade, dtype: int64

In [10]:
print(df_train.corr())

                                    case_id  Hospital_code  \
case_id                            1.000000      -0.043023
Hospital_code                     -0.043023       1.000000
City_Code_Hospital                -0.011352       0.128294
Available Extra Rooms in Hospital  0.042580      -0.059638
Bed Grade                          0.013702      -0.013739
patientid                         -0.004150       0.002291
City_Code_Patient                  0.065196      -0.015530
Visitors with Patient              0.001309      -0.028500
Admission_Deposit                 -0.045972       0.045446

                                   City_Code_Hospital  \
case_id                                     -0.011352
Hospital_code                                0.128294
City_Code_Hospital                           1.000000
Available Extra Rooms in Hospital           -0.045771
Bed Grade                                   -0.049309
patientid                                    0.000750
City_Code_Patient                           -0.023988
Visitors with Patient                        0.018184
Admission_Deposit                           -0.034455

                                   Available Extra Rooms in Hospital  \
case_id                                                     0.042580
Hospital_code                                              -0.059638
City_Code_Hospital                                         -0.045771
Available Extra Rooms in Hospital                           1.000000
Bed Grade                                                  -0.115868
patientid                                                   0.000921
City_Code_Patient                                          -0.009681
Visitors with Patient                                       0.096714
Admission_Deposit                                          -0.143739

                                   Bed Grade  patientid  City_Code_Patient  \
case_id                             0.013702  -0.004150           0.065196
Hospital_code                      -0.013739   0.002291          -0.015530
City_Code_Hospital                 -0.049309   0.000750          -0.023988
Available Extra Rooms in Hospital  -0.115868   0.000921          -0.009681
Bed Grade                           1.000000   0.001645          -0.008105
patientid                           0.001645   1.000000           0.002002
City_Code_Patient                  -0.008105   0.002002           1.000000
Visitors with Patient               0.088945   0.006889          -0.012074
Admission_Deposit                   0.073833  -0.000877           0.025837

                                   Visitors with Patient  Admission_Deposit
case_id                                         0.001309          -0.045972
Hospital_code                                  -0.028500           0.045446
City_Code_Hospital                              0.018184          -0.034455
Available Extra Rooms in Hospital               0.096714          -0.143739
Bed Grade                                       0.088945           0.073833
patientid                                       0.006889          -0.000877
City_Code_Patient                              -0.012074           0.025837
Visitors with Patient                           1.000000          -0.150358
Admission_Deposit                              -0.150358           1.000000

In [11]:
df_train['Bed Grade'] = df_train['Bed Grade'].fillna(method="ffill",axis=0)
df_train['City_Code_Patient'] = df_train['City_Code_Patient'].fillna(method="ffill",axis=0)

In [12]:
df_test['Bed Grade'] = df_test['Bed Grade'].fillna(method="ffill",axis=0)
df_test['City_Code_Patient'] = df_test['City_Code_Patient'].fillna(method="ffill",axis=0)

In [13]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df_train['Hospital_code'] = le.fit_transform(df_train['Hospital_code'])
df_train['Hospital_type_code'] = le.fit_transform(df_train['Hospital_type_code'])
df_train['Citydf_trainspital'] = le.fit_transform(df_train['City_Code_Hospital'])
df_train['Hospital_region_code'] = le.fit_transform(df_train['Hospital_region_code'])
df_train['Available Extra Rooms in Hospital'] = le.fit_transform(df_train['Available Extra Rooms in Hospital'])
df_train['Department'] = le.fit_transform(df_train['Department'])
df_train['Ward_Type'] = le.fit_transform(df_train['Ward_Type'])
df_train['Ward_Facility_Code'] = le.fit_transform(df_train['Ward_Facility_Code'])
df_train['Bed Grade'] = le.fit_transform(df_train['Bed Grade'])
df_train['City_Code_Patient'] = le.fit_transform(df_train['City_Code_Patient'])
df_train['Type of Admission'] = le.fit_transform(df_train['Type of Admission'])
df_train['Severity of Illness'] = le.fit_transform(df_train['Severity of Illness'])
df_train['Visitors with Patient'] = le.fit_transform(df_train['Visitors with Patient'])
df_train['Age'] = le.fit_transform(df_train['Age'])

In [14]:
df_test['Hospital_code'] = le.fit_transform(df_test['Hospital_code'])
df_test['Hospital_type_code'] = le.fit_transform(df_test['Hospital_type_code'])
df_test['Citydf_trainspital'] = le.fit_transform(df_test['City_Code_Hospital'])
df_test['Hospital_region_code'] = le.fit_transform(df_test['Hospital_region_code'])
df_test['Available Extra Rooms in Hospital'] = le.fit_transform(df_test['Available Extra Rooms in Hospital'])
df_test['Department'] = le.fit_transform(df_test['Department'])
df_test['Ward_Type'] = le.fit_transform(df_test['Ward_Type'])
df_test['Ward_Facility_Code'] = le.fit_transform(df_test['Ward_Facility_Code'])
#df_train['Bed Grade'] = le.fit_transform(df_train['Bed Grade'])
df_test['City_Code_Patient'] = le.fit_transform(df_test['City_Code_Patient'])
df_test['Type of Admission'] = le.fit_transform(df_test['Type of Admission'])
df_test['Severity of Illness'] = le.fit_transform(df_test['Severity of Illness'])
df_test['Visitors with Patient'] = le.fit_transform(df_test['Visitors with Patient'])
df_test['Age'] = le.fit_transform(df_test['Age'])

In [15]:
print(df_train.head())

   case_id  Hospital_code  Hospital_type_code  City_Code_Hospital  \
0        1              7                   2                   3
1        2              1                   2                   5
2        3              9                   4                   1
3        4             25                   1                   2
4        5             25                   1                   2

   Hospital_region_code  Available Extra Rooms in Hospital  Department  \
0                     2                                  3           3
1                     2                                  2           3
2                     0                                  2           1
3                     1                                  2           3
4                     1                                  2           3

   Ward_Type  Ward_Facility_Code  Bed Grade  patientid  City_Code_Patient  \
0          2                   5          1      31397                  6
1          3                   5          1      31397                  6
2          3                   4          1      31397                  6
3          2                   3          1      31397                  6
4          3                   3          1      31397                  6

   Type of Admission  Severity of Illness  Visitors with Patient  Age  \
0                  0                    0                      2    5
1                  1                    0                      2    5
2                  1                    0                      2    5
3                  1                    0                      2    5
4                  1                    0                      2    5

   Admission_Deposit   Stay  Citydf_trainspital
0             4911.0   0-10                   2
1             5954.0  41-50                   4
2             4745.0  31-40                   0
3             7272.0  41-50                   1
4             5558.0  41-50                   1

In [16]:
df_train.head(-10)

,case_id,Hospital_code,Hospital_type_code,City_Code_Hospital,Hospital_region_code,Available Extra Rooms in Hospital,Department,Ward_Type,Ward_Facility_Code,Bed Grade,patientid,City_Code_Patient,Type of Admission,Severity of Illness,Visitors with Patient,Age,Admission_Deposit,Stay,Citydf_trainspital
0,1,7,2,3,2,3,3,2,5,1,31397,6,0,0,2,5,4911.0,0-10,2
1,2,1,2,5,2,2,3,3,5,1,31397,6,1,0,2,5,5954.0,41-50,4
2,3,9,4,1,0,2,1,3,4,1,31397,6,1,0,2,5,4745.0,31-40,0
3,4,25,1,2,1,2,3,2,3,1,31397,6,1,0,2,5,7272.0,41-50,1
4,5,25,1,2,1,2,3,3,3,1,31397,6,1,0,2,5,5558.0,41-50,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
318423,318424,22,0,6,0,2,1,1,5,3,131049,0,2,2,2,3,3190.0,11-20,5
318424,318425,5,0,6,0,2,3,2,5,3,22709,1,2,2,2,5,4455.0,11-20,5
318425,318426,14,2,5,2,2,1,3,5,3,50508,11,0,1,2,1,8052.0,11-20,4
318426,318427,16,4,1,0,3,2,2,4,3,109647,30,0,1,3,0,4185.0,0-10,0
318427,318428,19,1,2,1,2,0,3,3,2,79108,4,2,1,4,5,4271.0,31-40,1

In [17]:
from sklearn import preprocessing
mm_scaler = preprocessing.MinMaxScaler()
df_train[['Admission_Deposit']] = mm_scaler.fit_transform(df_train[['Admission_Deposit']])
df_test[['Admission_Deposit']] = mm_scaler.fit_transform(df_test[['Admission_Deposit']])

In [18]:
print(df_test.head(3))

   case_id  Hospital_code  Hospital_type_code  City_Code_Hospital  \
0   318439             20                   2                   3
1   318440             28                   0                   4
2   318441             25                   1                   2

   Hospital_region_code  Available Extra Rooms in Hospital  Department  \
0                     2                                  3           2
1                     0                                  2           2
2                     1                                  3           2

   Ward_Type  Ward_Facility_Code  Bed Grade  patientid  City_Code_Patient  \
0          3                   0        2.0      17006                  1
1          3                   5        2.0      17006                  1
2          1                   3        4.0      17006                  1

   Type of Admission  Severity of Illness  Visitors with Patient  Age  \
0                  0                    2                      2    7
1                  1                    2                      4    7
2                  0                    2                      3    7

   Admission_Deposit  Citydf_trainspital
0           0.127964                   2
1           0.219170                   3
2           0.266008                   1

In [19]:
x_train = df_train
x_train = x_train.drop(['case_id'], axis=1)
x_train = x_train.drop(['Stay'], axis=1)
y_train = df_train['Stay']

x_test = df_test
x_test = x_test.drop(['case_id'], axis=1)

In [20]:
#x_test = df_test
#x_test = x_test.drop(['case_id'], axis=1)
#x = x.drop(['patientid'], axis=1)
#x = x.drop(['is_train'], axis=1)
#x_test = x_test.drop(['Stay'], axis=1)
#y_test = df_test['Bed Grade']

In [21]:
import lightgbm as lgb
lgb_cl = lgb.LGBMClassifier()

#from sklearn.svm import SVC
#svm_cl = SVC()
#from sklearn.ensemble import GradientBoostingClassifier
#gb_cl = GradientBoostingClassifier()

In [22]:
from sklearn.model_selection import train_test_split
x_train_spl, x_test_spl, y_train_spl, y_test_spl = train_test_split(x_train, y_train, test_size=0.20, random_state=8)

In [23]:
lgb_cl.fit(x_train_spl, np.ravel(y_train_spl))
#svm_cl.fit(x_train_spl, np.ravel(y_train_spl))
#gb_cl.fit(x_train_spl, np.ravel(y_train_spl))

LGBMClassifier()

In [24]:
y_test_pred_lgb = lgb_cl.predict(x_test_spl)
#y_test_pred_svm = svm_cl.predict(x_test_spl)
#y_test_pred_gb = gb_cl.predict(x_test_spl)

In [27]:
from sklearn.metrics import accuracy_score
#print("svm accuracy: "accuracy_score(y_test_spl, y_test_pred_svm))
print("lgb accuracy: ", accuracy_score(y_test_spl, y_test_pred_lgb))
#print("gb accuracy: "accuracy_score(y_test_spl, y_test_pred_gb))

lgb accuracy:  0.4212253485742997

In [28]:
final_pred = lgb_cl.predict(x_test)

In [29]:
submission_df = pd.DataFrame({'case_id':df_test['case_id'], 'Stay':final_pred})
submission_df.to_csv('Sample Submission LGB v01.csv', index=False)

# **USING SMOTE**

In [31]:
from imblearn.over_sampling import SMOTE
x_train_smote, y_train_smote = SMOTE().fit_resample(x_train_spl, y_train_spl)

In [32]:
print(x_train_smote.shape)
print(y_train_smote.shape)

(770495, 17)
(770495,)

In [33]:
lgb_cl.fit(x_train_smote, np.ravel(y_train_smote))

LGBMClassifier()

In [34]:
y_test_pred_smote = lgb_cl.predict(x_test_spl)

In [35]:
print(accuracy_score(y_test_spl, y_test_pred_smote))

0.3944856173847507